@font-face {
    font-family: text-font;
    src: url(../Nunito-Regular.ttf);
}
html{
    scroll-behavior: smooth;
}
body{
    margin: 0;
    padding: 0;
    color: aliceblue;
    background-color:#060606;
    font-family: text-font;
}
header{
    width: 100%;
    position: sticky;
    background-color: #060606;
    top: 0;
    left: 0;
    margin: 0%;
    padding: 0;

}
.mobile_sign{
    display: none;
}
.mobile_sign button{
    background-color: transparent;
    border: none;
    color: #E5E5E5;
    font-size: 1.5rem;
    padding: 25px;
}
.header_img{
    width: 50px;
    padding: 20px;
}
main{
    margin: 0;
    padding: 0;
}
header{
    margin: 0;
    padding: 0;
}
.header_div{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header_container{
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.mobile_head_div {
    margin: 0;
    padding: 0;
    width: 100%;
    position: fixed;
    background-color: #060606;
    z-index: 1000;
    top: 0;
    left: 0;
    display: none;
    height: 100vh;
    color: #ffffff;
}

.mobile_header_sub_container {
    margin: 0;
    padding: 20px;
}

.mobile_header_sub_container p {
    margin: 0;
    padding: 20px 0;

}

i.cancel_mobile {
    float: right;
    font-size: 1.8rem;
    padding: 20px;
    color: #E5E5E5;

}
.header_sub_container{
    width: 90%;
    padding: 0;
    display: flex;
    justify-content: right;
}
.header_container p{
    padding: 0 20px;
    font-size: 1.3rem;
    cursor: pointer;
}
.main_container{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

}
.main_sub_container1{
    width: 95%;
    height: 65vh;
    padding: 0 2.5%;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-evenly;
}
.sub_container1_text{
    width: 40%;
}
.sub_container1_text h1{
    font-size: 2.5rem;
}
.sub_container1_text p{
    font-size: 1.4rem;
}
.sub_container1_text a{
    text-decoration: none;
    font-size: 1rem;
    background: #3F8E00;
    border: 1px solid #62BA1B;
    box-shadow: 0px 0px 30px rgba(63, 142, 0, 0.5);
    border-radius: 4px;
    padding: 10px 40px;
    color: #ffff;

}
.sub_container1_img{
    justify-self: center;
    width: 30%;
    
}
.sub_container1_img img{
    width: 75%;
    border-radius: 150px;
}
.language_div{
    width: 80%;
    padding:0 10% 50px 10%;
    display: flex;
    flex-direction: column;
    
}
.language_div p {
    font-size: 1.5rem;
    color: antiquewhite;
}
.language_sub_div{
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    align-self: center;
}
.language_sub_div button{
    width: 20%;
    height: 50px;
    background-color: transparent;
    border: 1px solid #1b1b1b;
    color: #ffff;
    font-size: 1.2rem;
}
.main_sub_container_2{
    width: 100%;
    background-color: rgba(0, 8, 255, 0.035);
    
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.case_study_div{
    width: 45%;
    text-align: center;
}
.case_study_div p {
    font-size: 2rem;
    font-weight: 900;
}
.case_study_div h5{
    font-size: 1.2rem;
    font-weight: 200;
}
.projects_div{
    width: 80%;
    padding: 30px 10%;
    display: flex;  
    justify-content: center;
    align-items: center;
    justify-content: space-between; 

}
.projects_div2{
    width: 80%;
    padding: 30px 10%;
    display: flex;  
    justify-content: center;
    align-items: center;
    justify-content: space-between; 

}
.project_sub_div{
    width: 40%;
    height: 60vh;
    padding: 0 5%;
    display: flex;
    flex-direction: column;
    /* align-items: flex-start;
    justify-content: flex-start; */
}
.project_sub_div h6{
    font-size: 1.6rem;
    font-weight: 200;
    color: #FFA217;

    margin: 0;
}
.project_sub_div p{
    font-size: 1.5rem;
    font-weight: 800;
    line-height: 0;
}
.project_sub_div h5{
    font-size: 1rem;
    
}
.case_study_a{
    width: 150px;
    text-decoration: none;
    padding: 10px 30px;
    color: #ffffff;
    background: #000AFF;
    box-shadow: 0px 8px 30px rgba(0, 10, 255, 0.1);
    border-radius: 4px;
    background-color: #FFA217;
    text-align: center;
}
.project_sub_div1 {
    width: 50%;
    height: 60vh;
}
.project_sub_div1 img{
    width: 100%;
    border: 1px solid #FFA217;
}
.main_sub_container_3{
    width: 80%;
    padding: 8vh 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.testimonials_head_div{
    width: 70%;
    text-align: center;
}
.testimonials_head_div p{
    font-size: 1.8rem;
    line-height: 5px;
}
.testimonials_head_div span{
    font-size: 1rem;
    font-weight: 100;
}
.testimonials_sub_div{
    width: 100%;
    padding: 100px 0;
    display: flex;
    /* align-items: center; */
    /* justify-content: center; */
    /* justify-content: space-evenly; */
    flex-wrap: wrap;
}
.testimonies_div{
    width: 35%;
    padding: 0 2%;
    margin: 10px 1% 5% 5%;
    box-shadow: 0px 0px 3px rgba(245, 247, 246, 0.5);
    border-radius: 4px;;
    border-right: none;
    border-radius: 10px;
    

}
/* .testimonies_div p{
    
} */
.testimonies_div div{
    display: flex;
    padding: 10px 0;
    align-items: center;
    justify-self: left;
}
.test_img{
    width: 90px;
    border-radius: 1000px;
    margin: 0 20px 0 0;
}
.footer_sub_div{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.contact_div{
    width: 80%;
    padding: 0 10%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
}
.contacts_sub_div{
    width: 40%;
    padding: 20px 0 ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #111111;
    border-radius: 5px;
    color: #ffffff;
}
.contacts_sub_div p{
    font-size: 1.5rem;
    line-height: 0;
}
.contacts_sub_div input{
    width: 300px;
    margin: 15px 0;
    padding: 16px 20px;
    border-radius: 5px;
    border: none;
    background-color: transparent;
    background-color: #161616;
    outline: none;
    color: #ffffff;
}
.contacts_sub_div textarea{
    width: 300px;
    height: 50px;
    max-width: 300px;
    border-radius: 10px;
    border: none;
    padding: 20px;
    margin: 10px 0;
    background-color: #161616;
    outline: none;
    
}
.contacts_sub_div button{
    width: 350px;
    margin: 15px 0;
    padding: 15px 25px;
    border-radius: 25px;
    border: none;
    outline: none;
    font-family: text-font;
    font-size: 1.1rem;
    box-shadow:0 0 3px rgba(0, 0, 4, 0.796);
}
.img_div{
    width: 50%;
}
.img_div img{
    width: 100%;
}
.contacts_sub_div span{
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
    padding: 10px 10%;
}
.contacts_sub_div span a{
    text-decoration: none;
    color: #ffffff;
    font-size: 1.5rem;
}
.footer_last_div{
    width: 100%;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
@media  only screen and (max-width : 750px){
    body{
        margin: 0;
        padding: 0;
    }
    main{
        margin: 0;
        padding: 0;
    }
    .mobile_sign{
        display: block;
        width: 100%;
        text-align: right;
    }
    .header_container{
        width: 95%;
    }
    .header_sub_container{
        padding: 0;
        margin: 0;
        display: none;
        justify-content: right;
    }
    .header_sub_container p{
        font-size: 1rem;
        padding: 0 5px;
    }
    .main_container{
        height: auto;
    }
    .main_sub_container1{
        height: 80vh;
        padding: 30px 0;
        flex-direction: column-reverse;
    }
    .sub_container1_img{
        display: flex;
        width: 90%;
        align-items: center;
        justify-content: center;
    }
    .sub_container1_img img{
        width: 200px;
    }
    .sub_container1_text{
        width: 90%;
        text-align: center;
        align-items: flex-start;
    }
    .sub_container1_text a{
        margin: 30px 0;
    }
    .sub_container1_text h1{
        line-height: 0;
    }
    .language_div{
        width: 90%;
        height: 40vh;
        padding: 20px 5%;
        margin: 0;
    }
    
    .language_div p {

        text-align: center;
        font-size: 1.2rem;

    }
    .language_sub_div{
        width: 100%;
        justify-content: space-evenly;
        flex-wrap: wrap;
        /* justify-content: center;
        align-items: center; */

    }
    .language_sub_div button{
        width: 40%;
        margin: 15px;
    }  
    .case_study_div{
        width: 80%;
    } 
    .projects_div{
        flex-direction: column;
        border-bottom: 1px solid #ffffff;
    }
    .projects_div2{
        flex-direction: column-reverse;
        border-bottom: 1px solid #ffffff;
    }
    .project_sub_div{
        height: auto;
        width: 100%;
    }
    .project_sub_div1{
        width: 100%;
        height: auto;
        padding: 20px 0;
    }
    .case_study_a{
        width: 80%;
    }
    .main_sub_container_3{
        width: 90%;
        padding: 7vh 4%;
    }
    .testimonials_head_div{
        width: 90%;
    }
    .testimonials_sub_div{
        flex-direction: column;
    }
    .testimonies_div{
        width: 90%;
    }
    .footer_sub_div{
        height: 90vh;
        background-color: #111111;
    }
    .contact_div{
        width: 100%;
        padding: 0;
        margin: 0;
        flex-direction: column-reverse;
        
    }
    .contacts_sub_div{
        width: 90%;
    }
    .contacts_sub_div input{
        width: 80%;
        margin: 20px 0;
        
    }
    .contacts_sub_div textarea{
        width: 100%;
        height: 50px;
        margin: 20px 0;   
        resize: none;
    }
    .contacts_sub_div button{
        width: 300px;
        margin: 15px 0;
        padding: 15px 25px;  
    }
    .contacts_sub_div span{
        
        padding: 10px 10%;
    }
    .img_div{
        display: none;
    }
    .contacts_sub_div{
        width: 100%;
        padding: 0;
    }
    .footer_last_div{
        background-color: #111111;
        width: auto;
    }
}
   